.box{
    /* width: 33%; */
    width: calc(20% - 20px);
    height: 300px;
    margin: 10px;
    float: left;
    border-radius: 10px;
    background-color: #fff;
    /* box-shadow: 0px 1px 10px 3px lightgrey; */
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    text-decoration: none;
    color: #666
}

.box img {
    width: 100%;
    margin-bottom: 15px;
}

.price{
    text-decoration: line-through;
    font-size: 14px;
}

.price-after-discount{
    font-weight: 600;
}

.box:hover{
    transition: 0.5s;
    box-shadow: 0px 1px 10px 3px lightgrey;
}

.discount-percent{
    position: absolute;
    width: 40px;
    height: 18px;
    background: red;
    right: 0;
    top: 0;
    border-radius: 0 10px 0 10px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

.detail{
    padding: 10px;
}

.name{
    margin-bottom: 10px;
}